# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.claude/
templates.zip

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env
.mcp.json

# VS Code
.vscode/


# Logs
logs/
*.log
*.log.*

# Windows
Thumbs.db
desktop.ini

# WeasyPrint
*.pdf